<If "%{HTTP_HOST} != 'www.speedypedia.info'">
    Redirect 301 "/" "http://www.speedypedia.info/"
</If>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
