html, body {
    margin: 0;
}

#top-gradient {
    height: 80px;
    background: url('images/gradient.png');
    margin-bottom: 15px;
    background-repeat: repeat-x;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #146cc0;
    background-color: transparent;
    font-family: 'Arial';
}

a > span {
    color: black;
}

a:hover > span {
    color: #FF0000;
}

a:visited {
    text-decoration: underline;
    color: #0000CC;
    background-color: transparent;
}

a:hover {
    color: #FF0000;
    background-color: transparent;
}

a:active {
    color: #990099;
    background-color: transparent;
}

td {
    padding: 0px 40px;
    font-size: 40px;
}

img.hands {
    max-width: 100%;
}

@media screen and (max-width: 1080px) {
    img.fb-badge {
        width: 30%;
        height: auto;
    }
    img.main-logo {
        width: 50%;
        height: auto;
    }
}

@media screen and (min-width: 1080px) {
    img.fb-badge {
        width: 15%;
        height: auto;
    }
}

